/*Adding CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 60;
    padding: 20px;
    background-color: bisque;
    
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: palevioletred;
    color: black;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: palevioletred;
}
/* Style for student info */
p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    color: black; 
}
/* Style for the pizza order form */
#pizzaForm {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}



/* Style for the pizza order form */
#pizzaForm {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}



select, input[type="text"] {
   
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}




input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: plum;
}
